# Волкова Татьяна ПИ19-2 
# Билет №41
## Задание 2

In [129]:
from bs4 import BeautifulSoup  

with open("./data/datasets_for_2_task/addres-book-q.xml", 'r', encoding = 'utf8') as file: 
    data = BeautifulSoup(file, 'xml')      

#data

result:
men = ([name,company,phone type='work'],[]...) - gender = 'm'
women = ([name,phone type='personal'],[]...) - gender = 'f'

In [130]:
men = []
women = []
for address in data.find_all('address'): 
    if address.find('gender').text == 'm':
        if address.find('phone').attrs['type'] == 'work':
            phone = address.find('phone').text
        men.append([address.find('name').text, address.find('company').text, phone])
    else:
        if address.find('phone').attrs['type'] == 'personal':
            phone = address.find('phone').text
        women.append([address.find('name').text, phone])

In [131]:
res_men = tuple(men)
res_women = tuple(women)
print(f'мужчины ->>> {res_men}\nженщины ->>> {res_women}')

мужчины ->>> (['Aicha Barki', "Association Algerienne d'Alphabetisation Iqraa", '+ (213) 6150 4015'], ['Francisco Domingos', 'Institut National de Education des Adultes', '+ (244-2) 325 023'], ['Abraao Chanda', 'Institut National de Education des Adultes', '+ (244-2) 325 023'], ['Beatriz Busaniche', 'Universidad de Buenos Aires', '+ (54-11) 4784 1159'], ['Graham John Smith', 'Disability Australia Ltd', '+ (61-3) 9807 4702'])
женщины ->>> (['Maria Luisa', '+ (244) 4232 2836'], ['Francesca Beddie', '+ (54-11) 4784 1159'])

## Задание 3

In [84]:
import dask.dataframe as dd
    
accounts = dd.read_csv('./data/datasets_for_3_task/data/accounts.*.csv', 
                       dtype={'amount':'float64', 'id': 'int64', 'names': 'object'}).set_index('id')
#print(accounts.head())
accounts

Dask DataFrame Structure:
                names   amount
npartitions=6
0              object  float64
71                ...      ...
...               ...      ...
403               ...      ...
499               ...      ...
Dask Name: sort_index, 50 tasks

In [85]:
# оставили только те строки, где amount кратно 5 и не кратно 10
selected_accounts = accounts[(accounts['amount'] % 5 == 0) & (accounts['amount'] % 10 != 0)]
#selected_accounts.head()

In [86]:
# сгруппировали по id и посчитали сколько раз встречается значение кратное 5 и не кратное 10
grouped_by_id = selected_accounts.groupby('id')['amount'].count()
#grouped_by_id.tail()

In [87]:
# нашли максимальное количество встречаний 
maximum = grouped_by_id.max()
#maximum.compute()

In [88]:
# по максимальному значению нашли id
# не нашла аналога argmax чтобы сразу узнать id
grouped_by_id[grouped_by_id == maximum].compute()

id
366    7458
Name: amount, dtype: int64

## ОТВЕТ: 366